/* styles for index.html */

/* rgba(255, 255, 255, 0.6); футер */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-part {
  color: var(--accent-color);
}

/* site navigation */

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.address-text {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-text:hover,
.address-text:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #e5e5e5;
  color: #ffffff;
}

.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .hero-service {
  color: #ffffff;
  background-color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* main content  */

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.advantages .advantages-list {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
}

.section .section-products {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: #e5e5e5;
}

.product-link {
  text-decoration: none;
}

.section .team-member {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.job-type {
  font-size: 16px;
  line-height: 1.18;
}

/* footer */

.footer {
  background-color: #e5e5e5;
}

.address-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.address-street {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}

.join {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.developers {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
}
/* styles for portfolio.html */

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  color: var(--title-text-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

.projects a {
  text-decoration: none;
}

/* Цвет абзаца специально сделан не совсем белым */
.projects .projects-text {
  font-size: 18px;
  line-height: 1.55;
  color: #e5e5e5;
}

.projects .projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects .projects-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
